@import "reset.css";
@import url("http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic,900,900italic");
@import url("http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,700italic,400,300,700");
h1,
h2,
h3,
h4 {
  margin: 0 0 0.5em 0;
  font-weight: inherit;
  line-height: 0.95;
}
h1 {
  font-size: 2.441em;
  margin-bottom: 0.245em;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  position: relative;
  top: 0.1em;
}
h2 {
  font-size: 1.953em;
  margin-bottom: 0.245em;
}
h3 {
  font-weight: 700;
  margin-bottom: 0;
  line-height: inherit;
}
h4 {
  font-size: 1.25em;
  text-transform: uppercase;
  margin-bottom: 0.24915254em;
}
p {
  margin-bottom: 1.47em;
}
.drop-cap {
  float: left;
  color: #ffffff;
  font-size: 2.6em;
  text-align: center;
  margin-top: 0.15em;
  margin-right: 0.15em;
  width: 1em;
  line-height: 1.5em;
  background: #69d2e7;
}
a {
  text-decoration: none;
  color: #fa6900;
}
hr {
  border: 0;
  position: relative;
  top: -0.3em;
  height: 0.34em;
  border-top: 1px solid #e0e4cc;
}
small {
  font-size: 0.8em;
}
small {
  font-size: 0.707em;
}
.round {
  border-radius: 0.5em;
}
body {
  line-height: 1.5em;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  background: #ffffff;
  color: #555555;
}
.page {
  max-width: 68em;
  margin: 0 auto;
  background: #fff;
  padding: 4em 0;
}
@media (max-width: 768px) {
  .page {
    padding: 1.33333333em 0;
  }
}
@media (max-width: 480px) {
  .page {
    padding: 0;
  }
}
main {
  max-width: 60em;
  padding-top: 0.46875em;
  position: relative;
  margin: 0 4em;
  background: #ffffff;
  height: 100%;
}
@media (max-width: 768px) {
  main {
    margin: 0 2em;
  }
}
@media (max-width: 480px) {
  main {
    margin: 0 0.8em;
  }
}
header {
  background: #222222;
  height: 4em;
}
/*
Nav
*/
nav {
  overflow: hidden;
  float: left;
  margin-left: 1em;
  border-left: 1px solid #3c3c3c;
}
nav .block-title {
  display: none;
}
nav ul {
  margin: 0 auto;
}
nav ul li {
  font-family: 'Roboto Condensed', sans-serif;
  cursor: pointer;
  line-height: 0.8;
  float: left;
  list-style: none;
  text-transform: uppercase;
  list-style: none !important;
  margin: 0 !important;
  padding: 0 !important;
  border-right: 1px solid #3c3c3c;
}
nav li a:link,
nav li a:visited,
nav li a:active {
  padding: 1.5em 1.5em 1.7em 1.5em;
  display: inline-block;
  border: none;
  color: #e6e6e6;
}
nav a:hover {
  background: #69d2e7;
  color: #ffffff !important;
}
section {
  overflow: hidden;
  clear: both;
  margin-bottom: 1.47em;
}
/*
Columns
*/
.column {
  float: left;
  padding: 0 1.5%;
}
@media (max-width: 768px) {
  .column {
    display: block;
    width: 100% !important;
  }
}
.column:first-child {
  padding-left: 0;
}
.column:last-child {
  margin: 0 !important;
}
.column.two {
  width: 47%;
}
.column.two:first-child {
  width: 48.5%;
}
.column.three {
  width: 30.33333333%;
}
.column.three:first-child {
  width: 31.83333333%;
}
.column.four {
  width: 22%;
}
.column.four:first-child {
  width: 23.5%;
}
.column.five {
  width: 17%;
}
.column.five:first-child {
  width: 18.5%;
}
/*
Tables
*/
table {
  width: 100%;
  margin-top: 0.35em;
  margin-bottom: 1.67em;
}
th,
td {
  font-size: 85%;
  padding: 0 1.5%;
}
th {
  font-weight: 400;
  font-family: 'Roboto Condensed', sans-serif;
  background: #222222;
  color: #ffffff;
  vertical-align: baseline;
  padding-top: 0.39473684em;
  padding-bottom: 0.39473684em;
  border-right: 1px solid #555555;
  text-align: left;
}
tr:nth-child(odd) {
  background: #eff9f8;
}
td {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
/*
Forms
*/
form {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  border-radius: 0.5em;
  padding: 8px 6px;
  border: none;
  font-size: 15px;
  width: auto;
  width: 100%;
  max-width: 20em;
  height: 2em;
  display: block;
  clear: both;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 1.47em;
  padding: 0.5em 1em;
  background: #fbfbfb;
  border: 1px solid #ffffff;
  box-shadow: inset -1px -1px 1px #eeeeee;
}
textarea {
  height: 10em;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
  border: 1px solid #c1ecf5;
  box-shadow: none;
  background: #ffffff;
}
input[type="submit"] {
  border-radius: 0.5em;
  background: #69d2e7;
  border: none;
  padding: 0.735em;
  font-size: 0.8em;
  color: #fff;
  line-height: 1;
}
label {
  font-weight: 300 !important;
  font-size: 0.7em;
  text-transform: uppercase;
  margin-bottom: 0.2em;
}
select {
  border: none;
  padding: 0 0.3em;
  background: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 0.8em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #edfafc;
  background: #f3f3f3;
}
option {
  padding: 0.3em;
  border: none;
  font-weight: 100;
}
option:hover {
  background: #ff0000;
}
legend {
  font-family: 'Roboto Condensed', sans-serif;
  background: transparent;
  padding: 0 1em 0 0;
  font-weight: 400;
  font-size: 1.4em;
  color: #fa6900;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 1px solid #e0e4cc;
  width: 100%;
}
caption {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  color: #fa6900;
  margin-bottom: 0.3675em;
  text-align: left;
}
caption a {
  color: #fa6900;
}
fieldset {
  margin-right: 3%;
  float: left;
  margin-bottom: 2em;
  padding-top: 2em;
  position: relative;
  width: 100%;
}
fieldset fieldset legend {
  left: -0.6em;
}
fieldset:nth-child(odd) {
  clear: right;
}
fieldset fieldset {
  width: 100%;
  border: none !important;
  padding-top: 2.66666667em;
}
